.container {
  width: 100%;
  padding: 2rem 1rem;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mat-card {
  width: 300px;
}

.mat-card-header {
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 10px;
}

.mat-form-field {
  width: 3rem;
}
