<app-back-button></app-back-button>
<div class="container" cdkDropListGroup>
  <div class="columns-container">
    <div class="column">
      <h3 class="header">Infinitiv</h3>
      <div
        *ngFor="let item of firstForm; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="firstForm[i]"
        id="firstForm-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>

    <div class="column">
      <h3 class="header">Imperfekt</h3>
      <div
        *ngFor="let item of secondForm; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="secondForm[i]"
        id="secondForm-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <h3 class="header">Perfekt</h3>
      <div
        *ngFor="let item of thirdForm; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="thirdForm[i]"
        id="thirdForm-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <h3 class="header">Übersetzung</h3>
      <div
        *ngFor="let item of translation; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="translation[i]"
        id="translation-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
          <mat-icon
            aria-hidden="false"
            class="check-icon"
            [ngClass]="{ hidden: !points.length || !points[i] === true }"
            >check</mat-icon
          >
        </div>
      </div>
    </div>
  </div>

  <div class="new-verb-container" *ngIf="flattenVerbs.length">
    <div
      cdkDropList
      [cdkDropListData]="flattenVerbs[0]"
      (cdkDropListDropped)="drop($event)"
      id="flattenVerbs-0"
    >
      <div cdkDrag class="new-verb">
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
        {{ flattenVerbs[0] }}
      </div>
    </div>
    <mat-icon
      aria-hidden="false"
      class="change-icon"
      (click)="changeCurrnetVerb()"
      >cached</mat-icon
    >
  </div>
</div>
