<div class="container" cdkDropListGroup>
  <div class="columns-container">
    <div class="column">
      <div
        *ngFor="let item of firstForm; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="firstForm[i]"
        id="firstForm-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <div
        *ngFor="let item of secondForm; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="secondForm[i]"
        id="secondForm-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <div
        *ngFor="let item of thirdForm; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="thirdForm[i]"
        id="thirdForm-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>
    <div class="column">
      <div
        *ngFor="let item of translation; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="translation[i]"
        id="translation-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="allVerbs.length"
    cdkDropList
    [cdkDropListData]="allVerbs[0]"
    (cdkDropListDropped)="drop($event)"
    id="allVerbs-0"
  >
    <div cdkDrag class="new-verb">
      <div class="drag-placeholder" *cdkDragPlaceholder></div>
      {{ allVerbs[0] }}
    </div>
  </div>
</div>
