<div class="container" cdkDropListGroup>
  <div class="columns-container">
    <div class="column" *ngFor="let column of columns; index as columnIndex">
      <h3 class="header">{{ column.label }}</h3>
      <div
        *ngFor="let item of this[column.name]; index as i"
        cdkDropList
        (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="this[column.name][i]"
        id="{{ column.name }}-{{ i }}"
      >
        <div
          class="example-box"
          cdkDrag
          [ngClass]="{ good: points.length && points[i] === true }"
        >
          <div class="drag-placeholder" *cdkDragPlaceholder></div>
          {{ item }}
          <mat-icon
            *ngIf="columnIndex === columns.length - 1"
            aria-hidden="false"
            class="check-icon"
            [ngClass]="{ hidden: !points.length || !points[i] === true }"
            >check</mat-icon
          >
        </div>
      </div>
    </div>
  </div>

  <div class="new-verb-container" *ngIf="flattenDragData.length">
    <div
      cdkDropList
      [cdkDropListData]="flattenDragData[0]"
      (cdkDropListDropped)="drop($event)"
      id="flattenDragData-0"
    >
      <div cdkDrag class="new-verb">
        <div class="drag-placeholder" *cdkDragPlaceholder></div>
        {{ flattenDragData[0] }}
      </div>
    </div>
    <mat-icon
      aria-hidden="false"
      class="change-icon"
      (click)="handleCurrnetVerbChange()"
      >cached</mat-icon
    >
  </div>

  <div class="buttons-container" *ngIf="!flattenDragData.length">
    <button matButton mat-raised-button color="primary" (click)="setTables()">
      Jeszcze raz
    </button>
    <!-- <button
        matButton
        mat-raised-button
        color="accent"
        (click)="handleNewSet()"
      >
        Losuj nowy zestaw
      </button> -->
  </div>
</div>
